.main {
  margin: 0 10%;
}

.main__heading_1 {
  font-size: 32px;
  text-align: center;
  color: #607d8b;
}

.main__ul__li {
  text-align: center;
  list-style-type: none;
}

.main__ul__li__article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 30px;
}

.main__ul__li__article__h2 {
  text-align: left;
  font-size: 24px;
  color: #607d8b;
  overflow-wrap: anywhere;
  padding: 0 20px;
}

.main__ul__li__article__div {
  flex-shrink: 0;
  padding: 10px 10px;
}

@media (max-width: 800px) {
  .main__ul__li__article {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
  }

  .main__ul__li__article__div {
    width: 30%;
    height: 30%;
  }
}
