@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');
@import url('github-markdown-css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%; /*画像が縮小する*/
  height: auto;
  background-color: transparent !important; /* 透過画像用 */
}
body {
  display: flex;
  flex-direction: column;
  background-color: #313540;
  margin: 2%;
}

nav {
  margin: 1%;
  height: 30%;
}
.nav-links {
  display: flex;
  justify-content: space-around;
}
.nav-links li {
  background-color: #42576e;
  list-style: none;
  width: 32%;
  text-align: center;
  border-radius: 20px 0;
}
.nav-links li a {
  color: #35c8d5;
  text-decoration: none;
  font-size: 100%;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.container {
  margin: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

main {
  min-height: 65vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1%;
  padding: 3%;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #505663;
  color: #ffffff;
  font-family: c;
}
main .post img {
  width: initial;
  height: initial;
}
main .post .tags {
  display: flex;
  list-style-type: none;
}
main .post .tags li {
  padding: 5px;
}

.article-card {
  margin: 5px;
  padding: 10px;
  max-width: 200px;
  min-width: min-content; /* 子要素に合わせて伸びる */
  height: fit-content;
  border-left: 5px solid #000000;
  background-color: #313540;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.card-title {
  color: #44c8cd;
  white-space: nowrap;
}
.card-tag {
  background-color: #1da5ab;
  padding: 0 10px;
  margin: 5px 3px;
  display: inline-block;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.card-image {
  display: flex;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  color: #44c8cd;
  padding: 0;
}
footer a {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #44c8cd;
  text-decoration: none;
}
footer div {
  display: flex;
  color: #000000;
}
footer img {
  width: 70%;
  height: 70%;
}

/* Markdown */
.markdown-body {
  color: #ffffff !important;
}
.markdown-body a {
  color: #35c8d5 !important;
}
.markdown-body code {
  background-color: #313540 !important;
}
.markdown-body pre {
  background-color: #313540 !important;
}
.markdown-body table {
  color: #000000;
}
.markdown-body blockquote {
  color: #dfe2e5 !important;
}
